/* MY STYLE FILE */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-mystat {
    background-color: #17a2b8;
}

.btn-mystat {
    background-color: #17a2b8;
    color: #fff;
}

.btn-mystat:hover {
    background-color: #17a2b8;
    color: #fff;
    opacity: 0.9;
}

.close {
    border: none;
    background: transparent;
}

header .logo {
    font-size: 2.5rem;
}

header ul {
    font-size: 1.5rem;
}

header ul li a {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
}

header ul li a:hover {
    color: #fff;
    opacity: 1;
}

header ul .active > a {
    color: #fff;
    opacity: 1;
}

header ul:last-child li a {
    font-size: 2.5rem;
}

table thead {
    background-color: #bee5eb;
    color: #fff;
}

table thead th:nth-of-type(2) {
    text-align: left;
}

table tbody tr td:nth-of-type(2) {
    text-align: left;
}

table tbody tr td i {
    color: #17a2b8;
    font-size: 1.5rem;
    padding-right: 10px;
}

table tbody tr td .line {
    display: inline-table;
    background-color: #17a2b8;
    height: 5px;
    width: 20px;
    border-radius: 10px;
}

table select {
    width: 4rem;
    height: 2rem;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding-left: 10px;
}

.in-tab select {
    height: 2rem;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding-left: 10px;
}

table textarea {
    height: 2rem;
}

.in-tab label {
    font-weight: 600;
    color: gray;
    margin-bottom: 1rem;
}

.in-tab textarea {
    width: 100%;
}

.in-tab p {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

@media screen and (max-width: 768px) {
    header nav ul:first-child {
        align-items: center!important;
    }
    header nav ul:last-child {
        flex-direction: row!important;
    }
    .in-tab div:nth-of-type(3) {
        display: none!important;
    }
}