body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faf2ea;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 400px;
    border: 2px solid #c8c5c2;
    padding: 15px;
    border-radius: 10px;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form input, form select {
    justify-content: flex-end;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    width: 250px!important;
    padding: 3px;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
    border-width: 1px;
    border-radius: 3px;
}

form label {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
}

form button {
    padding: 5px;
}

/* content */

.live {
    margin-top: 1vw;
}

.live, .live .movies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.live h3 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.live .wrong {
    display: flex;
    flex-direction: column;
}

.live .movies .item {
    display: flex;
    flex-direction: row;
    border: 2px solid #c8c5c2;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

.live .movies .item .poster, .live .movies .item .about {
    display: flex;
    flex-direction: column;
    height: 150px;
}

.live .movies .item .about {
    padding: 0px 0px 0px 20px;
    width: 130px;
}

.live .movies .item .about .title {
    margin: 0.5vw 0 0.5vw 0;
    font-weight: 500;
}

.live .movies .item .about button {
    margin: 0.5vw 0 0.5vw 0;
    width: 100%;
}

.live .movies .paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 2vw;
}

.live .detail {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    border: 2px solid #c8c5c2;
    padding: 15px;
    border-radius: 10px;
}

.live .detail .poster {
    display: flex;
}

.live .detail .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    max-width: 400px;
    padding: 0px 0px 0px 20px;
}

.live .detail .info .split {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.live .detail .info .split label {
    display: flex;
    font-weight: 500;
    width: 200px;
}

.live .detail .info .split .text {
    display: flex;
    width: 200px;
}